<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.outincanberra.com.au/wp-content/uploads/2017/03/New-Gin-cocktails-banner.jpeg');">
  <div class="banner-content">
    <h1>Treat Yourself</h1>
    <p>Discover Classic Cocktail Concoctions</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail do %>
      <div class="col-xs-12 col-sm-4" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path cocktail.photo, width: 250, height: 250, crop: "fit" %>'), height: 250px, width: 250px" >

        <div class="banner-content">
          <p><%= cocktail.name %></p>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

